@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$green-palette, 600);
$accent: mat.define-palette(mat.$teal-palette, A400);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.core();
@include mat.all-component-themes($theme);

body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #eef7ef;
  margin: 0;
}

.app-container {
  padding: 16px;
}
