<mat-nav-list>
  <a mat-list-item routerLink="/employee" routerLinkActive="active"> <mat-icon matListIcon>home</mat-icon> Employee </a>
  <a mat-list-item routerLink="/manager" routerLinkActive="active" *ngIf="auth.current?.role === 'manager'">
    <mat-icon matListIcon>admin_panel_settings</mat-icon>
    Manager
  </a>
  <mat-divider *ngIf="auth.current?.role === 'manager'"></mat-divider>
  <h3 class="section" *ngIf="auth.current?.role === 'manager'">Management</h3>
  <a mat-list-item routerLink="/manager" [queryParams]="{ section: 'employees' }" *ngIf="auth.current?.role === 'manager'">
    <mat-icon matListIcon>people</mat-icon>
    Employees
  </a>
  <a mat-list-item routerLink="/manager" [queryParams]="{ section: 'requests' }" *ngIf="auth.current?.role === 'manager'">
    <mat-icon matListIcon>today</mat-icon>
    Leave Requests
  </a>
  <a mat-list-item routerLink="/manager" [queryParams]="{ section: 'reports' }" *ngIf="auth.current?.role === 'manager'">
    <mat-icon matListIcon>bar_chart</mat-icon>
    Reports
  </a>
</mat-nav-list>
